################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FX880PDetokenizer/bin/Debug
/.vs
/FX880PDetokenizer/obj
/packages/
